.main {
	column-gap: 40px;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.sticky-role{
	height: 4px;
	background: var(--green);
	position: sticky;
	top: var(--spacing);
	z-index: 1;
}
.title, .veja-mais span {
	color: var(--buttonBg);
}

.title {
	color: var(--buttonBg);
	font-size: var(--sizeSmallDeviceTitle);
	/*font-size: 3.5rem;*/
	margin-bottom: 2.5rem;
}
.main--description p {
	font-size: var(--sizeTree);
}
.veja-mais {
	margin-top: 3.2rem;
	display: flex;
	column-gap: 20px;
}
.veja-mais span {
	font-family: var(--fontParagraph);
	font-size:  2rem; ;
}

