/*Menu mobile*/
.menu {
	flex-direction: column;
	position: absolute;
	top: var(--spacing);
	left: 0;
	background: #290742d7;
	height: calc(100vh - var(--spacing));
	transition: ease-in .6s;
	overflow-x: hidden; 	
	width: 0vw;
}
.menu a {
	display: block;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	transition: 1s ease-out;
	transform: translateX(-700px);
}
.menu a::before{
	content: '';
	display: inline-block;
	height: 20px;
	width: 4px;
	background-color: var(--green);
	margin-right: 5px;
	position: relative;
	top: 4px;
}
.hamburger, .hamburger::before, .hamburger::after {
	display: block;
	width: 30px;
	border-top: 2px solid currentColor;
}
.hamburger::before, .hamburger::after {
	content: '';
	margin-top: .8rem;
	transition: .5s;
	position: relative;
}
/*Animation menu mobile*/
#header--nav.MenuMobile .menu a {
	transform: translateX(0);
}
#header--nav.MenuMobile .menu {
	width: 50vw;
	overflow-x:auto;
}
#header--nav.MenuMobile .hamburger {
	border-top-color:transparent;
}
#header--nav.MenuMobile .hamburger::after {
	transform: rotate(135deg);
	top: -10.2px;
}
#header--nav.MenuMobile .hamburger::before {
	transform: rotate(-135deg);
}
/*Mdia*/
@media  screen and (min-width: 641px) and (max-width:939px) {
	#header--nav.MenuMobile .menu {
		width: 100vw;
	}
	.menu {
		flex-direction: row;
		align-items: center;
		height: var(--spacing);	
	}
}
@media  screen and (min-width: 940px)  {
	.hamburger {
		display: none;
	}
	.menu {
		background: none;
		width: auto;
		position: relative;
		top: -20px;
		flex-direction: row;
		align-items: center;
		height: auto;
		transition: none;
	}
	.menu a {
		margin-bottom: 0rem;
		transition: none;
		transform: translateX(0px);
	}
	.menu a::before{
		content: none;
	}
	.menu a:hover::before, .menu a:focus-within::before{
	
	content: '';
	display: inline-block;
	height: 20px;
	width: 4px;
	margin-right: 5px;
	position: relative;
	top: 4px;
	}
	#header--nav.MenuMobile .menu {
		width: 100vw;
	}
	#header--nav.MenuMobile .menu a {
		transform: none;
	}
	#header--nav.MenuMobile .menu {
		width:auto;
		overflow-x:auto;
	}
}