/*Variables*/
:root {
	/*Color*/
	--purpleBg: #290742;
	--darkBg: #170027;
	--buttonBg: #9e6dc2;
	--white: #fff;
	--lightPurple: #fbf6ff;
	--green: #4fff4b;
	/*fonts*/
	--fontTitle: Poppins, 'sans-serif';
	--fontParagraph: Roboto, 'sans-serif';
	/*Sizes*/
	--spacing: 75px;
	--sizeOne: 1rem;
	--sizeTwo: 1.6rem;
	--sizeTree: 1.8rem;
	--sizeFour: 2rem;
	/*Small Device*/
	--sizeSmallDeviceTitle: 2.5rem;
	--sizeSmallDeviceSubtitle: 2rem;
	
}
/*Reset*/
*{
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	font-size: var(--sizeTwo);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background: var(--lightPurple);
	font-size: var(--sizeTwo);
}
a {
	text-decoration: none;
}
img {
	
	max-width: 100%;
}
ul {
	list-style: none;
}
input, button {
	background: none;
	border: none;
}
p {
	font-family: var(--fontParagraph);
	line-height: 1.5;
	font-size: var(--sizeTree);
}
/*purple-bg e fixed*/
.fixed, .intro {
	background: var(--purpleBg);
}
.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
}
/*container*/
.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 var(--sizeTwo);
}
/* flex-container*/
.header, .menu, .header--form, .main{
	display: flex;
}
/*color-white*/
.menu a, .hamburger, .header--form-source, .intro p {
	color: var(--white);
}
/*Color-darkBg*/
.subtitle {
	color: var(--darkBg);
}
/*font--title*/
.menu a, .header--form-source, .title, .subtitle {
	font-family: var(--fontTitle);
}
/*Headings*/
.title, .subtitle{
	font-family: var(--fontTitle);
}
/* hight, .logo img, .header--form-source, .header--form--btn-search, .header--nav button  */
.logo img, .header--form-source, .header--form--btn-search, .header--nav button {
	height: 30px;
}
.spacing{
	height: var(--spacing);
}
/*grid-container*/
.main, .section-post-one, .section-post-two {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	justify-content: space-around;
	gap : 20px;
}
/*Max-width of grid-child*/
.main--description, .main--banner, 
.section-post-one--first-post, .section-post-one--second-post, 
.section-post-two--post  {
	max-width: 500px;
}


