/*////////////////////////////////////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
:root {
    --background-da-pagina: #EAEAEA;
    --background-da-receita: #FFFFFF;
    --titulos-e-subtitulos: #1B1B1B ;
    --footer-e-legenda-da-imagem: #8F8F8F;
    --outros-textos: #39393A;
}
body {
    background: var(--background-da-pagina);
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
.container {
    background: var(--background-da-receita);
    border-radius: 0.625rem;
    max-width: 58.75rem;
    margin: 1.875rem auto;
    padding: 2.5rem;
}

/*////////////////////////////////////////////////////////////////////////////////////*/
.banner-receita  img {
    border-radius: 0.625rem;
    height: 15.625rem;
    object-fit: cover;
    width: 100%;  
}
.footer-e-legenda-da-imagem {
    color: var(--footer-e-legenda-da-imagem);
    font-size: 0.75rem;
    font-weight: 400;
    
}
.legenda{
    text-align: end;

}

/*////////////////////////////////////////////////////////////////////////////////////*/
.titulo {
    color: var(--titulos-e-subtitulos);
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 3.125rem;
    padding-bottom: 1.875rem;
    text-align: center;
    text-transform: uppercase;  
}
.subtitulo {
    color: var(--titulos-e-subtitulos);
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    text-align: center;
    text-transform: uppercase;  
}

/*////////////////////////////////////////////////////////////////////////////////////*/
.secao ul {
    
    font-size: 1rem;
    line-height: 1.625rem;
    list-style-position: inside;
}
.secao  li {
    color: var(--outros-textos);
    padding-bottom: 1.2rem;
}
.secao p {
    color: var(--outros-textos);
    font-size: 1rem;
}
.modo-de-preparo ul {
    list-style-type: decimal;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
.footer p{
    
    text-align: center;
    margin-bottom: 1rem;
}
.amor{
    color: #886ce4;
}


