.header {
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-size: 0px;
}
.header img {
    width: 100px;
}
.header--nav {
    order: 3;
}
.header--nav button, .header--form--search, .header--form--btn-searc {
    border: none;
    height: 30px;
}
.header--nav button, .menu a {
    color: var(--white);
}
.header--nav button {
    background: none;
}
.header--form {
    justify-content: center;
    align-items: center;
}

.header--form--search {
    background: var(--dark-bg);
    width: 100px;
    outline: none;
    border-radius: 3px 0px 0 3px;
}
.header--form--btn-searc {
    width: 30px;
    background: var(--button-bg);
    border-radius: 0px 3px 3px 0px;
}
.header--form--btn-searc img {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}
