.intro-bg {
    background: var(--dark-bg);
}
.header {
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 0px;
    width: 70px;
}
.header--nav {
    order: 3;
}

.header--form {
    display: flex;
}
.header--form--input {
    height: 30px;
    border: none;
}

.header--form--search {
    width: 80px;
    outline: none;
}
.header--form--btn-search {
    background: var(--button-bg);
    border-radius: 0px 5px 5px 0px;
    
}
.header--form--btn-search img {
    width: 70%;
}
