.main {
	flex-wrap: wrap;
	padding: 3rem 0;
	row-gap: 0.8rem;
	/*padding: 6rem 0;*/
	/*column-gap: 15px;*/
	/*column-gap: 12px;*/
	/*column-gap: 80px*/
}
.main--description, .main--banner {
	
	flex: 1 0 280px;
}
.main--banner img {
	margin: auto;
}
.title, .main p  {
	margin-bottom: var(--margin-bottom-small-deice);
}
.title, p.veja-mais{
	color: var(--button-bg);
}
.title  {
	font-size: var(--font-size-small-device-title);
	margin-bottom: var(--margin-bottom-small-deice);
}
p.veja-mais {
	column-gap: .8rem;
}
