.menu {
    position: absolute;
    top: 70px;
    left: 0;
    
    
    transition: all 300ms ease-in-out;
    transform: translatey(-1000px);
    z-index: 1000;
}
#nav.mostrar-menu .menu{
    transform: translatey(0);
    height: calc(100% - 70px);
    
   
    overflow-x: auto;
       
  }