
.menu  {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    transition: all 0.6s ease-in-out;
    width: 0px;
    overflow-x: hidden;
    z-index: 1000;
}
.nav-add.mostrar-menu .menu{
    width: 50vw;
    overflow-x: auto;
}
.menu a, .btn-mobile {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}
.menu a {
    display: block;
    padding: 1rem;
}
.btn-mobile {
    align-self: center;
    gap:.8rem;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
}
.hamburger, .hamburger::after, .hamburger::before {
    display: block;
    width: 20px;
}
.hamburger {
    border-top: 2px solid;
}
.hamburger::after, .hamburger::before {
    content: '';
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}
.nav-add.mostrar-menu .hamburger {
    border-top-color: transparent;
}
.nav-add.mostrar-menu .hamburger::before  {
    transform: rotate(135deg);
}
.nav-add.mostrar-menu .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    }
