.postagens {
    margin: 40px auto;
    flex-wrap: wrap;
    gap: 10px 100px;
}
.postagens--post-1 {
    flex: 1 0 300px;
}
.postagens--post-2 {
    flex: 1 0 300px;
}
.postagens p {
    line-height: 1.5;
}
.data {
    margin: 10px 0;
}
.subtitulo {
    font-size: 2.2rem;
    color: var(--dark-bg);
    margin-bottom: 2rem;
}
