@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
/*VARIÁVEIS CSS*/
:root {
	--purple-bg: #290742;
	--dark-bg: #170027;
	--button-bg: #9e6dc2;
	--white: #fff;
	--light-purple: #fbf6ff;
	--green: #4fff4b;
	--font-title: 'Poppins', sans-serif; 
	--font-paragraph:'Roboto', sans-serif;
	--font-size-small-device-title: 2rem;
	--spacing-small-device: 3rem;
	--margin-bottom-small-deice: 1.6rem;
}
/*RESET*/
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-size: 1.6rem;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
input, button {
	border: none;
	background: none;
	outline: none;
}
h1, h2, h3, h4, h5, h6, .header--nav a, input.header--form--search::placeholder, .veja-mais  {
	font-family: var(--font-title);
}
p {
	font-family: var(--font-paragraph);
	line-height: 1.5;
}
.fixed, .intro {
	background:var(--purple-bg) no-repeat center center;
}
.fixed {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}
/*Container & Spacing*/
.container {
  max-width: 1170px; 
  margin: 0 auto;
  padding: 0 1rem;
  
} 
.spacing {
	height: 70px;
}
/*FlexBox -- Color white*/
.header, .header--nav, .header--form, .menu, .main, .veja-mais, .section-post-one {
	display: flex;
}
.header--nav a, .btn-menu, .header--form--search, .header--form--btn-search, .main p {
	color: var(--white);
}
.header a, .header--form--btn-search {
	cursor: pointer;
}
.intro, .menu {
	border-bottom: solid var(--green) 4px;
}
.main--description, .main--banner, .section-post-one--first-post, .section-post-one--second-post {
	flex: 1 0 280px;
}
.main, .section-post-one {
	flex-wrap: wrap;
	padding: 3rem 0;
}
.subtitulo {
	color: var(--purple-bg);
}