@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
  }
.fixed, .main {
  background: var(--purple-bg) no-repeat center center;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width:100vw;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
} 
.header, .header--form, .intro, .veja-mais {
  display: flex;
}
.header--form--search, .header--form--btn-searc, .btn-menu  {
  border: none;
  background: none;
  outline: none;
}
.menu a, input.header--form--search::placeholder, .titulo {
  font-family: 'Poppins', sans-serif; 
}
.spacing {
  height: 70px;
}
.intro--descricao {
  color: var(--white);
  font-family: 'Roboto', sans-serif
}
/*
font-family: 'Roboto', sans-serif;

*/