.time {
	margin:.5rem 0px 1rem;
}
.subtitulo {
	
	color: var(--purple-bg);
	margin-bottom: 1rem;
	
}

.section-post-two--post  img {
	margin-bottom: 3rem;
}

.section-post-two {
	
	gap:   3rem 50px;
}
/*
.section-post-two {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,auto));
}
*/
.section-post-two--post { max-width: 374px;}
