
.intro-bg{
  background: linear-gradient(to top right, var(--dark-bg),   var(--purple-bg));
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  height: 70px;
}

.logo{
  font-size: 0px;
}
.logo img {
  width: 80px;
}

.nav {
  order: 3;
}
.btn-mobile {font-size: 1.6rem;
}
.menu {
  list-style: none;
  display:block;
  position: absolute;
 
  top: 70px;
  left:  0px;
  background-color: var(--purple-bg);
  height: calc(100% - 70px);
  transition:.6s ease-out;
  width: 0px;
  visibility: hidden;
  overflow-x: hidden;
  z-index: 1000;
       
}

#nav.mostrar-menu .menu{
  visibility: visible;
  width: 50vw;
 
  overflow-x: auto;
  
  
 

  
  
}
.menu a {
  display: block;
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}
.menu a:hover {
  border-bottom: #4fff4b solid 2px;
  color: #4fff4b;
  text-transform: uppercase;
}
.btn-search {
  background: var(--button-bg);
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
form {
  display: flex;
  gap: .1px;
}
.search {
  height: 30px;
  width: 100px;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  padding: .5rem;
  background: var(--purple-bg);
  outline: none;
  
}
.btn-search img {

  display: block;
  width:70%;
  height: 70%;
  
  
 
}
p {
  font-size: 1.6rem;
}





  
  /*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
